body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    margin: 5px 0;
}

p {
    font-size: 14px;
    color: gray;
}

.links a {
    display: block;
    background: #cc2020;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.3s;
}

.links a:hover {
    background: #131907;
}

  #loading-spinner {
     display: none; /* escondido até ser ativado */
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3; /* Borda cinza */
    border-top: 6px solid #3498db; /* Borda azul */
    border-radius: 50%;
    animation: spin 1s linear infinite;

    /* Centralizar na tela */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Garantir que fique na frente de tudo */
    z-index: 99999;
    background: transparent;
}
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }